/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: 'Lato';
	font-size: 20px;
	line-height: 26px;
	font-weight: 300;
	color: #6c737b;
}

h1 {
	font-size: 50px;
	line-height: 45px;
	color: #6f9db5;
	margin-bottom: 20px;
}

p {
	line-height: 26px;
	font-size: 20px;
}

a {
	color: #eee;
	text-decoration: none;
}

b {
	font-weight: 400;
	color: #eee;
}

.header {
	background: url('../img/cbble-header.png');
	height: 360px;
	padding-top: 45px;
	text-align: center;
}

.welcome {
	background: #eff3f6;
	width: 100%;
}

.welcome .container {
	margin: auto;
	width: 1000px;
	padding: 40px 0;
}

.ranks {
	width: 100%;
	background: #e7eaef;
}

.ranks-container {
	width: 1000px;
	margin: auto;
	padding: 40px 0;
	font-size: 0;
}

.ranks h1 {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 50px;
	line-height: 45px;
	color: #6f9db5;
	margin-bottom: 40px;
}

.ranks-pricing {
	font-size: 20px;
	display: inline-block;
	width: 22%;
	background: #fff;
	margin-right: 4%;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.ranks-pricing h2 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
	color: #293c4d;
}

.ranks-pricing h3 {
	margin-top: 20px;
	font-size: 20px;
	color: #6c737b;
	font-weight: 400;
}

.ranks-pricing:nth-child(5) {
	margin-right: 0;
}

.ranks-pricing img {
	text-align: center;
}

.faq {
	width: 1000px;
	margin: auto;
}

.faq h1 {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 50px;
	line-height: 45px;
	margin: 40px 0;
	color: #6f9db5;
}

.faq h4 {
	font-weight: 400;
	margin-bottom: 20px;
}

.faq p {
	margin-bottom: 40px;
	line-height: 26px;
}

.contact {
	width: 100%;
	background: #2e3255;
}

.contact-container {
	width: 1000px;
	margin: auto;
	padding: 40px 0;
	font-size: 0;
}

.contact h1 {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 50px;
	line-height: 45px;
	color: #eee;
}

.contact p {
	font-size: 20px;
	color: #aaa;
}

form {
	margin: 20px 0 8px;
}

input, select, textarea {
	background: #fff;
	border: 2px solid #ccc;
	width: 49.5%;
	padding: 10px;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 400;
	color: #6c737b;
	margin: 0 1% 11px 0;
}

input, select {
	height: 50px;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
}

input:nth-child(2) {
	margin-right: 0;
}

select:nth-child(4) {
	margin-right: 0;
}

textarea {
	width: 100%;
	margin-right: 0;
}

input:last-child {
	width: 100%;
	background: #ccc;
	border: 3px solid #ccc;
}